<script src="https://cdn.userfront.com/core.js"></script>

<form id="password-reset-form">
  <div id="alert"></div>

  <label for="password">Password</label>
  <input type="password" id="password" />

  <label for="password-verify">Re-type password</label>
  <input type="password" id="password-verify" />

  <button type="submit">Reset password</button>
</form>

<Style>

    button,
input {
  display: block;
  margin-bottom: 10px;
}

#alert {
  display: none;
  color: red;
  margin-bottom: 10px;
}
</Style>