<div class="about-section">
  
  <h1>About Us Page</h1>
  
  <p>Pots For Plants was established in 2008 when Bennie Swart purchased an existing business “Tuscany’s”,
    changed the name and within months relocated the business to its current address.
    
    Today Pots For Plants boasts an interesting and diverse combination of Pots, plants and garden hardware.
    Our loyal clients compliment us almost daily on the outstanding quality of our garden plants, seedlings, indoor plants and ground covers,
    all at excellent prices.
    
    We have one of the most extensive ranges of garden hardware to cater for every need and taste,
    while maintaining our 2 core principles: interesting quality products at reasonable prices.
    
    The business employ almost 40 personnel, and with our two 4 ton trucks we have delivered plants and pots as far as
    Polokwane, Secunda, Zeerust, Emalahleni and many more.
    
    Our product range has grown tremendously and includes garden pots, water-features, stepping stones, pebbles, bird baths, steel goodies
    and gazebos, garden furniture, ornaments, statues, bird feeders, water pumps and accessories and many more.
    
    We are looking forward to welcoming you at our friendly Establisment..</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>

<div class="row">
  <div class="columnAbout">
    <div class="cardAbout">
      <img src="~/images/About/Avatar-2.jfif" alt="Bennie" style="width:60%;align-self: center;">
      <div class="container">
        <h2><center>Bennie Swart<center></h2>
        <p class="title"><center>CEO & Founder<center></p>
        <p>swart@gmail.com</p>
        <a href="./Contact.html" class="button">Contact</a>

          
              
      </div>
    </div>
  </div>

  