@{
    ViewData["Title"] = "Home Page";
}
  
  <h1 style="font-family:AlphaWood;"><center>POTS FOR PLANTS<center> </h1>
  
  
 <!-- <h2><marquee>WELCOME to Pots for Plants</marquee></h2>
    <center><p>When it comes to Gardening it's the small things that make the BIG differences... We are constantly looking for those amazing goodies and accessories that will give your gardening experience the greener edge... Check out our small range to achieve those BIG results.<center></cener></p>
    <p>Visit us 7 Days a week between 8:00 am and 16:00 pm. Our friendly staff are waiting to help you choose the Pots that suits you.</p>-->
  
  <!-- Portfolio Gallery Grid -->


<div class="column">
 <div class="content">
    <center><img src="~/images/Logos/GradeBPots.jfif" alt="GradeBPots" style="width:35%"></center>
      <h3><center>Grade B Pots<center></h3>
      <h3><center>End of Range Pots<center></h3>
      <p>Grade B pots are affordable. This range also consist of discontinued lines. Reject items as the term implies -- do not pass our Quality Control due to some tiny cracks, scratches or uneven carvings but it is still usable and perfectly imperfect. Returns and refunds is not applicable for these reject pots.</p>
    </div>
  </div>
  
  <div class="column">
   <div class="content">
    <center><img src="~/images/Logos/DesignerPots.jfif" alt="DesignerPots" style="width:35%"></center>
      <h3><center>Designer Pots<center></h3>
      <p>Designer planters for indoor and outdoor use. Lightweight, durable Polyresin, material. UV protected, your planter comes with a 10yr warranty. Delivered country wide.  We Create Beautiful Spaces for You. It Is All about Design for Us.</p>
    </div>
  </div>
  
<div class="column">
    <div class="content">
    <center><img src="~/images/Logos/Graffity-1.jfif" alt="GraffityPots" style="width:35%"></center>
      <h3><center>Graffity Pots<center></h3>
      <p>Check out our graffiti planters selection for the very best in unique or custom, handmade pieces from our shop. Each pot is painted by an inner city artist.</p>
    </div>
  </div>

 
    <div class="column">
      <div class="content">
       <center> <img src="~/images/Logos/PlasticPots.jfif" alt="PlasticPots" style="width:35%"></center>
        <h3><center>Plastic Pots<center></h3>
        <p>Plastic nursery pots are affordable, durable, re-useable, and non-porous, they all have drainage holes and are a great choice for plants that need their roots to stay consistently moist, but any variety of plants will be happy in them with the correct care applied.</p>
      </div>
